Section 2 - Sales Data Pipeline.json
{
  "name": "Section 2 - Sales Data Pipeline",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -336,
        16
      ],
      "id": "26c6019b-f918-475b-bd20-fb043c390467",
      "name": "TriggerManual"
    },
    {
      "parameters": {
        "url": "https://learn.app.n8n.cloud/webhook/course/n8n101/sales-data",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Assessment-ID",
              "value": "e557ffc83063592a27fa342e09547de0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -112,
        16
      ],
      "id": "712fe13f-063e-41cb-8561-31672223685c",
      "name": "GetSalesData",
      "credentials": {
        "httpHeaderAuth": {
          "id": "AHQUkUCVMDhKfCtw",
          "name": "n8n Academy API Key"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "orders",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        112,
        16
      ],
      "id": "8f6f84b5-3b6e-41a0-abf8-e3276e6f87d7",
      "name": "SplitOrders"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1e7e4c78-df82-47f1-9059-3afaf04ee162",
              "name": "order_id",
              "value": "={{ $json.order_id }}",
              "type": "string"
            },
            {
              "id": "c4603f6f-6ad2-4010-83cb-ba2c82d2c761",
              "name": "customer_name",
              "value": "={{ $json.customer_name }}",
              "type": "string"
            },
            {
              "id": "5026bfd5-6461-4082-8888-fd87295a1ca1",
              "name": "region",
              "value": "={{ $json.region }}",
              "type": "string"
            },
            {
              "id": "99320fff-11f6-41e1-a6fe-f3407962af67",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "e9200b8e-2b4e-4380-931d-b18742da8043",
              "name": "order_total",
              "value": "={{ $json.quantity * $json.unit_price }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        16
      ],
      "id": "189eb029-993a-4fe9-8634-4b06be2d6e84",
      "name": "SetOrderTotals"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "orders",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        560,
        -176
      ],
      "id": "970f5a31-5502-4144-ab34-1aa84d16ad5f",
      "name": "SetOrderTotals1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://learn.app.n8n.cloud/webhook/course/n8n101/process-orders",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Assessment-ID",
              "value": "e557ffc83063592a27fa342e09547de0"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "orders",
              "value": "={{ $json.orders }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        784,
        -176
      ],
      "id": "d4548d3a-b361-413f-9701-fa89d1bea2c1",
      "name": "SendOrders",
      "credentials": {
        "httpHeaderAuth": {
          "id": "AHQUkUCVMDhKfCtw",
          "name": "n8n Academy API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ef80b9b8-0c08-4d1a-975e-d8b8dcafd14c",
              "leftValue": "={{ $json.status }}",
              "rightValue": "delivered",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        560,
        112
      ],
      "id": "dc6fd498-ce49-4bda-97dd-126a4ca35695",
      "name": "FilterDelivered"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "sum",
              "field": "order_total"
            },
            {
              "field": "order_total"
            }
          ]
        },
        "fieldsToSplitBy": "region",
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        784,
        16
      ],
      "id": "60829c2c-e3f1-4268-970d-472180ae3d18",
      "name": "SummarizeByRegion"
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "sum_order_total",
              "newKey": "order_totals"
            },
            {
              "currentKey": "count_order_total",
              "newKey": "order_count"
            },
            {
              "currentKey": "average_order_total",
              "newKey": "average_order_total"
            }
          ]
        },
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        1008,
        16
      ],
      "id": "44adbc27-bed7-4814-b840-b3081971727d",
      "name": "UpdateFieldNames"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "regions",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1232,
        -80
      ],
      "id": "ffbafb97-7854-4596-960b-49d360b2d92c",
      "name": "AggregateRegions"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://learn.app.n8n.cloud/webhook/course/n8n101/validate-analysis",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Assessment-ID",
              "value": "e557ffc83063592a27fa342e09547de0"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "regions",
              "value": "={{ $json.regions }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1456,
        -80
      ],
      "id": "a4008705-7894-4e24-8a65-b7d43d4ccb35",
      "name": "SendAnalysis",
      "credentials": {
        "httpHeaderAuth": {
          "id": "AHQUkUCVMDhKfCtw",
          "name": "n8n Academy API Key"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "36316f3a-14b6-41e7-b112-7603d6ef461f",
              "name": "report_generated",
              "value": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
              "type": "string"
            },
            {
              "id": "8d1d292a-ce36-4f30-ba5f-2b6df0f9c0b4",
              "name": "assessment_id",
              "value": "e557ffc83063592a27fa342e09547de0",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        112
      ],
      "id": "19c16a1c-f2a8-4e66-bb42-823be7f2444a",
      "name": "SetReportMetadata"
    },
    {
      "parameters": {
        "binaryPropertyName": "report",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1456,
        112
      ],
      "id": "a6226ed5-311e-4670-8c22-420a90386b2c",
      "name": "ConvertToCSV"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://learn.app.n8n.cloud/webhook/course/n8n101/send-report",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Assessment-ID",
              "value": "e557ffc83063592a27fa342e09547de0"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "report",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1680,
        112
      ],
      "id": "2d0582fc-b9ca-44b4-8f0c-1a82b6318327",
      "name": "SendReport",
      "credentials": {
        "httpHeaderAuth": {
          "id": "AHQUkUCVMDhKfCtw",
          "name": "n8n Academy API Key"
        }
      }
    },
    {
      "parameters": {
        "content": "## Sales Data Pipeline \nCreated by: Dipendra Shekhawat\nDate: 20-07-2026\nThis workflow creates the sales data pipeline including 3 branches for sending different reports and details to the data warehouse.\nPart of: n8n Foundations Course, Section 2",
        "height": 288,
        "width": 768,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -352,
        -400
      ],
      "typeVersion": 1,
      "id": "18d8b02b-19a4-4e5c-81e4-cbf7ddfefc60",
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        784,
        208
      ],
      "id": "f408ade4-8c10-4204-8d33-3e8e6a532908",
      "name": "IgnoreNonDelivered"
    }
  ],
  "pinData": {},
  "connections": {
    "TriggerManual": {
      "main": [
        [
          {
            "node": "GetSalesData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetSalesData": {
      "main": [
        [
          {
            "node": "SplitOrders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitOrders": {
      "main": [
        [
          {
            "node": "SetOrderTotals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetOrderTotals": {
      "main": [
        [
          {
            "node": "FilterDelivered",
            "type": "main",
            "index": 0
          },
          {
            "node": "SetOrderTotals1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetOrderTotals1": {
      "main": [
        [
          {
            "node": "SendOrders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FilterDelivered": {
      "main": [
        [
          {
            "node": "SummarizeByRegion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IgnoreNonDelivered",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SummarizeByRegion": {
      "main": [
        [
          {
            "node": "UpdateFieldNames",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateFieldNames": {
      "main": [
        [
          {
            "node": "AggregateRegions",
            "type": "main",
            "index": 0
          },
          {
            "node": "SetReportMetadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AggregateRegions": {
      "main": [
        [
          {
            "node": "SendAnalysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetReportMetadata": {
      "main": [
        [
          {
            "node": "ConvertToCSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConvertToCSV": {
      "main": [
        [
          {
            "node": "SendReport",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "04fe6a32-b621-4e25-9676-5004f5499bfe",
  "meta": {
    "instanceId": "ed2d39e2781eafdd6da0665310f4fa7731b7bb1ca7b344a403bf453731aa052b"
  },
  "nodeGroups": [],
  "id": "wr34x98itb5fLe19",
  "tags": [
    {
      "updatedAt": "2026-07-19T17:29:21.509Z",
      "createdAt": "2026-07-19T17:29:21.509Z",
      "id": "uCro0i0N6lASTkjU",
      "name": "n8n101"
    }
  ]
}